= div_for comment do
  %h3
    = comment.name
    &lt;
    = comment.email
    &gt; said:
    %span.actions
      = link_to 'Delete', [@article, comment], confirm: 'Are you sure?', method: :delete
  = comment.body